<table class="table table-bordered">
    <tr>
        <td>Name of Applicant</td>
        <td colspan="5"><input type="text" class="span10" ng-model="specialEventApplication.applicant.namespecialEventApplication.applicant.name"/></td>
    </tr>
    <tr>
        <td>Address</td>
        <td colspan="5"><input type="text" class="span10" ng-model="applicantAddress"/></td>
    </tr>
    <tr>
        <td>City</td>
        <td><input type="text" ng-model="applicantCity"/></td>
        <td>State</td>
        <td><input type="text" class="span1" ng-model="applicantState"/></td>
        <td>Zip</td>
        <td><input type="text" class="span2" ng-model="applicantZip"/></td>
    </tr>
    <tr>
        <td>Phone</td>
        <td><input type="text" class="span2" ng-model="applicantPhone"/></td>
        <td>Fax</td>
        <td><input type="text" class="span2" ng-model="applicantFax"/></td>
        <td>Email</td>
        <td><input type="text" ng-model="applicantEmail"/></td>
    </tr>
</table>