<table class="table table-bordered">
	<tr>
		<td>Name of Insurance Carrier</td>
		<td colspan="5"><input type="text" class="span10" ng-model="insuranceName"/></td>
	</tr>
	<tr>
		<td>Agent/Broker</td>
		<td colspan="5"><input type="text" class="span10" ng-model="agentName"/></td>
	</tr>
	<tr>
		<td>Phone</td>
		<td colspan="5"><input type="text" class="span10" ng-model="insurancePhone"/></td>
	<tr>
		<td>Address</td>
		<td colspan="5"><input type="text" class="span10" ng-model="insuranceAddress"/></td>
	</tr>
</table>