<table class="table table-bordered">
	<tr>
		<td colspan="5" bgcolor="#DCDCDC" style="text-align:center"><b>NOTICE TO APPLICANTS</b></td>
	</tr>
	<tr>
		<td>1.</td>
		<td colspan="5"><b>APPLICABLE APPENDIX FORMS MUST BE SUBMITTED TO EACH DEPARTMENT NO LATER THAN 15 DAYS PRIOR TO COMMENCEMENT OF EVENT.</b></td>
	</tr>
	<tr>
		<td>2.</td>
		<td colspan="5"><b>ALL EVENTS ARE TO BE CONDUCTED IN A SAFE AND REASONABLE MANNER.</b></td>
	</tr>
	<tr>
		<td>3.</td>
		<td colspan="5"><b>YOU MAY NOT BLOCK PEDESTRIAN RIGHT-OF-WAY, STREETS, OR SIDEWALKS.</b></td>
	</tr>
</table>