<table class="table table-bordered">
	<tr>
		<td>1.</td>
		<td colspan="5">Whoever violates any provision of City Ordinances, sha,, upon conviction thereof, be subject to all associated fines, costs, and penalties. In the case of a permittee's violation of any provisionf of these ordinances, the individual designated upon the permit as the responsible party shall be considered the violator.</td>
	</tr>
	<tr>
		<td>2.</td>
		<td colspan="5">All fees must be paid in advance for final permit/application approval. All additional invoices must be paid within 30 days after the invoice date.</td>
	</tr>
	<tr>
		<td colspan="5">I hereby certify that all information on this form is correct and accurate. Any error, misstatement or misrepresentation with or without intention can result in revocation of this permit. I agree to indemnify and hold harmless the City of Bethlehem, its employees, agents, officials, representatives, attorneys and assigns form any and all liability, both negligent and non-negligent arising directly or indirectly out of any activities that occur in connection with this event, or out of the acts, errors, or omissions of the undersigned.</td>
	</tr>
	<tr>
		<td>Print Name</td>
		<td><input type="text" class="span5" ng-model="printedSignature"/></td>
		<td>Date</td>
		<td><input type="text" class="span3" ng-model="signatureDate"/></td>
	</tr>
	<tr>
		<td>Signature of Applicant</td>
		<td colspan="5"><input type="text" class="span10" ng-model="signature"/></td>
	</tr>
</table>